:root {
    --background-color: #f26419;
    --color: #5995ed;
    --accent-color: #ffeedd;
    --accent-color2: #11e48f; 
}

main {
    background-color: var(--color);
    width: 100%;
}
nav {
    background-color: var(--background-color);
    padding: 45px;
}

.hero {
    width: auto;
    position: relative;
    object-fit: cover;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.stat {
    position: absolute;
    bottom: 25px;
	right: 25px;
	background: var(--color);
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
    width: 50%;
    opacity: 0.8;
}
.stat img {
    height: auto;
    width: 50%;
    float: right;
}

.stats {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 15px;
    background: radial-gradient(var(--background-color), var(--color));
    opacity: 0.8;
    text-align: center;
}

body {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--accent-color);
    background-color: var(--color);
  }

h1, h2 {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--accent-color2);
  }

footer a{
    text-decoration: none;
}