* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --border: 1px solid #000;
    --color: darkblue;
    --text-align: center;
    --margin: 1rem;
}
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}


nav {
    background-color: var(--color);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
    display: block;
    text-decoration: none;
    font-size: 30px;
}

h1 {
    color: var(--color);
    border-bottom: 1px solid darkblue;
    margin: 15px 0px 20px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p { padding: 0;}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    position: relative;
    width: 20rem;
    margin: var(--margin);
    border: var(--border);
    padding: 1rem;
    background-color: lightgray;
    color: #333;
    text-align: var(--text-align);
    grid-column: 1/2;
    grid-row: 1/2;
}
aside h2 {
    position: absolute;
    left: 70px;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: var(--margin);
    border-top: var(--border);
    text-align: var(--text-align);
}

/*Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgb( 0 0 0 / .1);
    padding: 1rem;
    background-color:cornflowerblue;
}